{% extends 'base.html' %}

{% block main %}

<div class="container my-5">
    <div class="row">
        <div class="col-12">
        <h1>Account</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
            <div class="form-group col-md-4">
                <label>Username</label>
                <input class="form-control" type="text" name="username" placeholder="name" value="{{user.username}}">
            </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-4">
                <label>Email</label>
                <input class="form-control" type="email" name="email" placeholder="Email" value="{{user.email}}" required>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        </div>
    </div>
</div>

{% endblock %}