{% extends 'base.html' %}

{% block main %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
        <h1>Cancel</h1>
        <p>うまく処理されませんでした。カートは<a href="/cart/">こちら</a></p>
        </div>
    </div>
</div>
{% endblock %}