{% extends 'base.html' %}

{% block main %}

<div class="container my-5">
    <div class="row">
        <div class="col-12">
        <h1>Profile</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group ">
            <label>Name</label>
            <input class="form-control" type="text" name="name" placeholder="name" value="{{user.profile.name}}">
            </div>
            <div class="form-row">
            <div class="form-group col-md-2">
                <label>Zip</label>
                <input class="form-control" type="text" name="zipcode" placeholder="zipcode"
                value="{{user.profile.zipcode}}">
            </div>
            <div class="form-group col-md-4">
                <label>Prefecture</label>
                <input class="form-control" type="text" name="prefecture" placeholder="prefecture"
                value="{{user.profile.prefecture}}">
            </div>
            <div class="form-group col-md-6">
                <label>City</label>
                <input class="form-control" type="text" name="city" placeholder="city" value="{{user.profile.city}}">
            </div>
            </div>
            <div class="form-group">
            <label>Address 1</label>
            <input class="form-control" type="text" name="address1" placeholder="address1"
                value="{{user.profile.address1}}">
            </div>
            <div class="form-group">
            <label>Address 2</label>
            <input class="form-control" type="text" name="address2" placeholder="address2"
                value="{{user.profile.address2}}">
            </div>
            <div class="form-group">
            <label>Tel</label>
            <input class="form-control" type="tel" name="tel" placeholder="tel" value="{{user.profile.tel}}">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        </div>
    </div>
</div>

{% endblock %}
