{% extends 'base.html' %}

{% block main %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
        <h1>Thank you!</h1>
        <!-- 注文履歴確認ページ -->
        <p>注文履歴は<a href="/orders/">こちら</a></p>
        </div>
    </div>
</div>
{% endblock %}