<a href="/items/{{object.pk}}/">
    <div class="border">
        <img src="/{{object.image}}" width="100%" class=" bg-white">
        <div class="bg-light text-center text-secondary overflow-hidden">
            <div class="my-2 py-2">
            <h2 class="lead">{{object.name}} - ¥{{object.price}}</h2>
        </div>
        </div>
    </div>
</a>