<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VegiKet</title>
    <!-- Bootstrap 4.5.0 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <header>
        {% block header %}
        {% include 'snippets/header.html' %}
        {% endblock %}
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% include 'snippets/footer.html' %}
        {% endblock %}
    </footer>
</body>

</html>